.red
{
  border-radius: 50px;
  width: 80px;
  height: 80px;
  background: red;
}
.orange
{
  border-radius: 50px;
  width: 80px;
  height: 80px;
  background: orange;
}
.blue
{
  border-radius: 50px;
  width: 80px;
  height: 80px;
  background:blue;
}

.row
{
  text-align: center;
  margin-top: 50px;
}
.btn
{
  margin-top: 50px;
}